---
import Layout from "../layouts/Layout.astro";
import "./../styles/Contact.css";
---

<Layout title="contact">
    <main>
        <section class="contact">
            <p>Contact</p>
        </section>
    </main>
</Layout>
