---
import Layout from "../layouts/Layout.astro";
import "./styles/Projects.css";
---

<Layout title="projects">
    <main>
        <section class="projects">
            <p>Projects</p>
        </section>
    </main>
</Layout>
