---
import Layout from "../layouts/Layout.astro";
import "./../styles/Stacks.css";
---

<Layout title="stacks">
    <main>
        <section class="stacks">
            <p>Stacks</p>
        </section>
    </main>
</Layout>
