---
import Layout from "../layouts/Layout.astro";
import "./styles/About.css";
---

<Layout title="about">
    <main>
        <section class="about">
            <p>About</p>
        </section>
    </main>
</Layout>
