---
import "./styles/Navbar.css";
---

<header class="navbar">
    <div class="container navbar-content">
        <a href="#" class="logo"> GUSTAVO<span class="dot">.</span>
        </a>

        <nav class="nav-links">
            <a href="#about" class="nav-item">[ About me ]</a>
            <a href="#stack" class="nav-item">[ Stack ]</a>
            <a href="#projects" class="nav-item">[ Projects ]</a>
        </nav>

        <a href="#contact" class="nav-item highlight">Contact</a>

        <button id="menu-toggle" aria-label="Abrir Menu">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </button>
    </div>
</header>

<script>
    const menuBtn = document.getElementById("menu-toggle");
    const navLinks = document.querySelector(".nav-links");

    if (menuBtn && navLinks) {
        menuBtn.addEventListener("click", () => {
            navLinks.classList.toggle("active");
            menuBtn.classList.toggle("active");
        });

        const links = document.querySelectorAll(".nav-item");
        links.forEach((link) => {
            link.addEventListener("click", () => {
                navLinks.classList.remove("active");
                menuBtn.classList.remove("active");
            });
        });
    }
</script>