---
import "./styles/Navbar.css";
---

<header class="navbar">
    <div class="container navbar-content">
        <a href="/" class="logo">
            GUSTAVO<span class="dot">.</span>
        </a>

        <nav class="nav-links">
            <a href="/About" class="nav-item">[ About Me ]</a>
            <a href="/Stacks" class="nav-item">[ Stacks ]</a>
            <a href="/Projects" class="nav-item">[ Projects ]</a>
            <a href="/Contact" class="nav-item highlight">Contact</a>
        </nav>

        <button id="menu-toggle" aria-label="Abrir Menu">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </button>
    </div>
</header>

<script>
    const menuBtn = document.getElementById("menu-toggle");
    const navLinks = document.querySelector(".nav-links");

    if (menuBtn && navLinks) {
        menuBtn.addEventListener("click", () => {
            navLinks.classList.toggle("active");
            menuBtn.classList.toggle("active");
            document.body.style.overflow = navLinks.classList.contains("active")
                ? "hidden"
                : "auto";
        });

        const links = document.querySelectorAll(".nav-item");
        links.forEach((link) => {
            link.addEventListener("click", () => {
                navLinks.classList.remove("active");
                menuBtn.classList.remove("active");
                document.body.style.overflow = "auto";
            });
        });
    }
</script>
