---
import Layout from "../layouts/Layout.astro";
import "./styles/Stack.css";
---

<Layout title="stack">
    <main>
        <section class="stack">
            <p>Stack</p>
        </section>
    </main>
</Layout>
